.delivery-area{

  .border-round{
    border: 1px solid $divider-color;
    border-radius: 7px;
  }

  .adver-area{
    img{
      width: 100%;
    }
  }
  .address-area{
    label{
      width: 100%;
    }

    .payment-form{
      .small-label{
        label{
          font-size: 0.85em;
        }

      }
    }

    .payment-method{
      .payment-col{
        .payment-container{
          border: 1px solid $divider-color;
          border-radius: 7px;
        }

      }
      input[type='checkbox']{
        display: none;
      }
      img{
        height: 100px;
      }
      label{
        color: $primary-font-color;
      }
    }
  }

  .testing{
    input[type='checkbox']{

    }
  }

  .checked{
    background-color: $checked-color;
  }

}