.add-product{
  min-height: 68vh;
  font-family: 'Quicksand', sans-serif;
  .add-product-title-row{
    h3{
      font-weight: 600;
    }
  }
  .add-product-body-row{
    .add-product-image-col{
      border: 1px solid transparent;
      position: relative;
      .add-product-text{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transition: 0.2s;
        color: rgba(0, 0, 0, 0.2);
        h1{
          font-size: 1.5em;
        }
      }
    }
    .add-product-image-col:hover{
      border: 1px dashed $divider-color;
      cursor: pointer;
      .add-product-text{
        background-color: rgba(255, 255, 255, 0.38);
        color: $primary-font-color;
      }
    }
    img{
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
    .add-product-form{
      .css-yk16xz-control{
        width: 100%;
      }
      span{
        font-size: 0.8em;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .add-product{
    .add-product-body-row{
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}