.add-product{
  min-height: 68vh;
  font-family: 'Quicksand', sans-serif;
  .add-product-body-row{
    img{
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
    .add-product-form{
      .css-yk16xz-control{
        width: 100%;
      }
    }
  }
}