.admin-product-row{
  position: relative;
  .admin-product-body{
    min-height: 68vh;

    .header-area{
      img{
        width: 100%;
        height: 100px;
        object-fit: cover;
      }
    }

    .admin-product-table-row{
      border: 1px solid $divider-color;
      border-radius: 7px;
      padding: 15px 10px;
      .react-bootstrap-table{

        .image-container{
          img{
            width: 70px;
            height: 50px;
            object-fit: cover;
          }

        }
        .product-icon{
          color: $secondary-font-color;
        }
        .product-icon:hover{
          color: $primary-font-color;
        }
      }
    }

  }
}