.category-list-area{

  .closing-label{
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;

    .closing-label-inside{
      background-color: #d1ecf1;
      border: 1px solid #bee5eb;
      border-radius: 5px;
      height: 40px;
      p{
        float: left;
        padding-top: 7px;
        font-style: italic;
        font-size: 0.9em;
        color: #2c5960;
      }
      i{
        padding-top: 10px;
        float: right;
        color: #2c5960;
      }
      i:hover{
        cursor: pointer;
      }
    }
  }

  .product-list-area{
    max-width: 1200px;
    margin: auto;
    justify-content: center;

    .category-item{
      width: 100%;
      border:1px solid #b8b8b8;
      border-radius: 5px;
      .image-container{
        min-height: 152px;
        .category-image{
          max-height: 100%;
          padding: 15px;
          width: 100%;
        }
      }
      .category-name{
        font-size: 0.9em;
      }
    }
    .category-item:hover{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) {
  .category-list-area{
    .product-list-area{
      .category-item{
        .image-container{
          min-height: 110px;
          padding-top: 10px;
          .category-image{
            padding:0;
          }
        }
        .category-name{
          font-size: 0.8em;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .category-list-area{
    .product-list-area{
      .category-item{
        .image-container{
          min-height: 80px;
          .category-image{
            padding:0;
          }
        }
        .category-name{
          font-size: 0.8em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .category-list-area{
    .product-list-area{
      .category-item{
        .image-container{
          min-height: 50px;
          .category-image{
            padding:0;
          }
        }
        .category-name{
          font-size: 0.6em;
          padding:0;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .category-list-area{
    .product-list-area{
      .category-item{
        .image-container{
          min-height: 50px;
          padding:4px;
          .category-image{
            padding:0;
          }
        }
        .category-name{
          font-size: 0.6em;
          padding:0;
        }
      }
    }
  }
}