$primary-color: #4caf50;
$primary-font-color: #262626;
$secondary-font-color: #757575;
$warning-font-color:red;

$nav-bar-color: #ffffff;
$divider-color: #e0e0e0;

$icons-color: #bdbdbd;
$table-border-color: #e0dfdf;