$primary-color: #4caf50;
$primary-font-color: #262626;
$secondary-font-color: #757575;
$warning-font-color:red;

$checked-color: rgba(76, 175, 80, 0.17);

$nav-bar-color: #ffffff;
$divider-color: #e0e0e0;

$icons-color: #bdbdbd;
$table-border-color: #e0dfdf;