.profile-page{
  min-height: 67vh;
  .profile-left{
    .profile-image{
      img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.text-divider{
  color: $divider-color;
}