.product-class{
  border: 1px solid #cdcdcd;
  border-radius: 5px;

  .image-container{
    height: 150px;
    img{
      height: 100%;
      max-width: 100%;
    }
  }

  .cart-quantity{}
  .add-to-cart{
    .btn {
      border-radius: 20px;
    }
  }

}