@media screen and (max-width: 600px) {

  .navBar{
    .navbar{
      margin: 0 3px;
      padding: 0;
      button{
        font-size: 0.8em;
        padding: 6px 4px;
      }
      a{
        font-size: 0.8em;
        padding: 8px 4px;
      }
    }
  }
}